<style>
  p, h1 {
    text-align: center;
    font-family: "Verdana";
  }

  canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 450px;
    height: 450px;
    margin: auto;
  }
</style>

<h1>FRACTAL TREES</h1>
<canvas style="border:2px solid #c0c0c0;" id="canvas"></canvas>
